# Editor directories and files
.agents
.claude
.cursor
.gemini
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Project files
.env.local
*.local
dist
dist-ssr
informationSupabase.md
node_modules
repomix-output.xml